@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style:none}
a:visited,a:link{color: #000;text-decoration: none;}
.clearfix:after{content:"";display: block;clear:both;}

#header{width: 960px;margin: 0 auto;background: pink;margin-bottom:10px;}
#header h1{text-align: center; margin-bottom: 10px;}
.gnb{border-top: 1px solid #000;border-bottom: 1px solid #000;}
.gnb li{float: left;width: 20%;}
.gnb a{display: block;text-align: center;line-height: 40px;}

.container{width: 960px;height: 1000px;margin: 0 auto;margin-bottom: 10px;}
.container .content{float: left;width: 760px;height: 100%;background: olive;}
.container .aside{float: right;width: 190px;height: 100%;background:orange;}

#footer{width: 960px;height: 100px;margin: 0 auto; background: #ccc;}

.visual{height: 300px;position: relative;margin-bottom:10px;}
.visual h3{width: 200px;position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);}

.visual.company{background: skyblue;}
.visual.location{background: pink;}