@charset "utf-8";

#main_header{position: relative; background-image: url(../images/header_background.png);height: 45px;}
#main_header h1{text-align: center;color: white;}
#main_header a.left{display: block;height: 32px;background-image: url(../images/header_left_button.png);width: 62px;text-indent:-9999px; position: absolute;top:7px;left:7px;}

#main_header label.right{display: block;height: 32px;background-image: url(../images/header_right_button.png);width: 32px;text-indent:-99999px; cursor: pointer;position: absolute;top:7px;right:7px;}

#toggle_gnb_wrap{background:#363636;padding: 15px;}
.toggle_gnb{padding: 5px;background: #fff;height: 40px;}
.toggle_gnb ul li{float: left;}
.toggle_gnb ul li a{display: block;width: 80px;text-align: center;}

#toggle{display: none;}
#toggle ~ #toggle_gnb_wrap{display: none;}
#toggle:checked ~ #toggle_gnb_wrap{display: block;}

#top_gnb{background: #b42111;border-bottom: 1px solid #000;}
#top_gnb div{float: left;width: 25%;}
#top_gnb div a{display: block;text-align: center;line-height:35px; color: white;}

#bt_gnb{display: table;width: 100%;border-bottom: 1px solid #000;}
#bt_gnb div{display: table-cell;}
#bt_gnb div a{display: block;line-height: 35px;text-align: center;position: relative;}
#bt_gnb div a:after{content:"";display: block;width: 1px;height: 15px;background: #000;position: absolute;top:10px; left:-1px;}

.main_st{border: 1px solid #000;}
#st_hd{padding: 20px;}
#sc_atc{padding: 20px;}
#sc_atc p{margin-bottom:10px;}

#mi_ft{padding: 10px;text-align: center;}
#mi_ft address{font-style: normal;}