@charset "utf-8";

header#miheader{position: relative;height: 1950px;margin-bottom: 100px;}

/*header top*/

#headert{width: 1260px;background: pink; position: fixed;left: 50%;transform:translateX(-50%); top: 40px;z-index:1;}

#headert>h1{float: left; background: skyblue;height: 50px;}
#mimenu{float: right;}
#mimenu li{float:left;height: 50px;}
#mimenu li a{display: block;line-height:50px;padding: 0 30px;}
.tgmenu{display: none; }

/*slider*/

.sliderwrap{height: 1005px;}
/*.sliderwrap li img{width: 100%;}*/
.sliderwrap li{height: 1005px; background-repeat: no-repeat;background-position:center;background-size: cover;}
.sliderwrap li.slider1st{background-image: url(../images/mainimg01.jpg);}
.sliderwrap li.slider2st{background-image: url(../images/mainimg02.jpg);}
.sliderwrap li.slider3st{background-image: url(../images/mainimg01.jpg);}
.sliderwrap .slidertxt{position: absolute;width: 500px;left: 50%;margin-left:-250px; text-align: center; color: white;top: 30%;}
.sliderwrap .slidertxt h3{font-size:2em;}
.sliderwrap .slidertxt h3:after{content:""; display: block;width: 300px;height: 2px;background: #fff; margin: 10px auto;}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;\margin-bottom:0;}

.sliderwrap .bx-wrapper .bx-pager{
    bottom:100px;}

/*content*/

.content{width: 1260px;position: absolute;left: 50%;transform:translate(-50%);bottom: 0px;}
.content>ul>li{float: left;width: 25%;height: 315px;position: relative;overflow: hidden;}
.content>ul>li>a{color: white;}

/*content layout*/

/*.content li:nth-child(2n){background: skyblue;}*/
.content li.ct1st{background: #92c1d5;}
.content li.ct2st{}
.content li.ct3st{width: 50%;}
.content li.ct4st{background: #b8307c;}
.content li.ct5st{background: #413d3e;}
.content li.ct6st{width: 50%;}
.content li.ct7st{height: 630px;}
.content li.ct8st{width: 50%;}
.content li.ct9st{background: #b8307c;}
.content li.ct10st{background: #413d3e;;}
.content li.ct11st{width: 50%;}

/*content cell*/

.content li.ct1st a,
.content li.ct4st a,
.content li.ct5st a,
.content li.ct9st a,
.content li.ct10st a{text-align: center;display: block;height: 100%; padding-top:85px;}

.content li.ct1st img,
.content li.ct4st img,
.content li.ct5st img,
.content li.ct9st img,
.content li.ct10st img{display: block;margin: 0 auto;margin-bottom: 5px;}
.content li.ct1st p{}

/*content txt*/
.content div.txt{position: absolute;top: 40px;left: 40px;}
.content div.txt h3:after{ content:"";display: block;width: 50px;height: 2px; background: #fff;margin: 20px 0;}
.content div.txt p{font-size:2em;}


/*modal layer*/
.content .ct2st .bgimg{transition:0.3s;}
.content .ct2st:hover .bgimg{transform: scale(1.2);}
.content .ct2st .play{position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);}

/*bx slider2nd*/
.content .ct3st{}
.content .ct3st h2{position: absolute;top: 40px;left: 40px;}
.content .sliderwrap{width: 630px;height: 315px;}
.content .sliderwrap li.news{width: 630px;height: 315px;}
.content .sliderwrap .left{float: left;width: 315px;height: 315px;padding: 80px 40px;position: relative;}
.content .sliderwrap .left:after{
	content:"";
	display: block;
	border-width:30px;
	border-style:solid;
	border-color:transparent transparent transparent white;position: absolute;
	top: 50%;transform:translateY(-50%);right: -60px;}

.content .sliderwrap .right{float: right;width: 315px;height: 315px;}

.content .ct3st .btn{position: absolute;bottom: 20px;left: 213px;width: 76px;}
.content .ct3st .btn img{width: 38px;height: 38px;float: left;}

/*container*/
.container{height: 750px;background:url(../images/contentsbg01.jpg) no-repeat center fixed; background-size:cover;color: white;padding-top: 70px;}

.container .section{width: 1260px;margin: 0 auto;}
.container h4{text-align: center;}
.container h4:after{content:"";display: block;width: 50px;height: 3px;background-color: white; margin: 20px auto;}
.container .section>p{text-align: center;font-size:2em;margin-bottom: 40px;}
.container .section li{float: left;margin-right:20px;width: 300px;height: 380px;padding-top:70px;border-radius:10px;transition:0.3s;}
.container .section li:hover{box-shadow:8px 8px 10px rgba(255,255,255,0.5);transform: translate(-10px,-10px);}

.container .section li:last-child{margin-right:0;}
.container .section li img{display: block;margin: 0 auto;}
.container .section li .cardbd{text-align: center;padding: 20px 40px;}
.container .cardbd h3{margin-bottom: 10px;}

/*bottom box*/
.bottomwrap{padding:80px 0;padding-bottom:0;}
.bottomwrap:after{content:"";display: block;width: 100%;height: 1px;background: #000; margin-bottom:40px;}
.snswrap{width: 1260px;height: 630px;background: green;margin: 0 auto;margin-bottom:80px;}
.bottomwrap ul{}
.snswrap li{float: left;width: 315px;height: 315px;background: skyblue;}
.snswrap li:first-child{height: 630px !important;}

.impo{width: 1260px;margin: 0 auto;margin-bottom: 80px;}
.impo li{float: left;background: pink;width: 630px;height: 315px;}

/*footer*/
.footer{width: 1260px;margin: 0 auto;margin-bottom: 60px;}
.footer li{float: left;margin-right:28px;margin-bottom:10px;position: relative;}
.footer li:after{content:"";display: block;height: 15px;width: 1px;background: #000;position: absolute;top:3px;left:-12px;}
.footer li:first-child:after{content:"";display: none;}
.footer li a{display: block;}
.footer h2{float: left;width: 225px;height: 100px;display: block;background: pink; font-weight: bold;}
.footer .txt{float: left;font-size:0.9em;color: #ccc;}